*{
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

main{
  width: 600px;
  margin: 0 auto;
}


.col-1, .col-2, .col-3{
  height: 150px;
}

.col-1{
  width: 30%;
}

.col-2{
  width: 65%;
}

.col-3{
  width: 100%;
}

.row::after{
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
}

.row{
  margin-bottom: 30px;
  width: 100%;
}

.row .col{
  float: left;
  margin-right: 30px;
}

.row .col:last-child{
  margin-right: 0;
}

.cell{
  height: 100px;
}

.cell.solid{
  background-color: blue;
}