*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main{
  width: 600px;
  margin: 0 auto;
}

.col-1, .col-2{
  width: 285px;
}
.col-1, .col-2, .col-3{
  height: 150px;
  background-color: blue;
}

.col-1{
  background-color: blue;
  float: left;
  margin-right: 30px;
}
.col-2{
  background-color: vlue;
  float: right;
}

header, footer{
  background-color: blue;
  width: 100%;
  height: 150px;
}
.row::after{
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
}
.col-3{
  background-color: blue;
  width: 70%;
  margin: 0 auto;
}
header, .row{
  margin-bottom: 30px;
}