*{
  box-sizing: border-box;
}

.wrap{
  position: relative;
  height: 100px;
  width: 800px;
  margin 0 auto;
}

.line{
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: grey;
  top:50%;
  transform: translateY(-50%);
}
.text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  padding: 20px;
}