*{
  box-sizing: border-box;
}
.wrap{
  padding: 50px;

}

.item{
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgb(243, 243, 207);
  border-radius: 10px;
  margin-right: 30px;
}

.label{
  position: absolute;
  right: 0px;
  top: 0px;
  transform: translate(50%,-50%);
  height: 20px;
  background-color: red;
  color: white;
  border: 1px solid white;
  padding: 1px 5px;
  border-radius: 10px;
}